body {
  overflow: hidden;
}

.transformation-container {
  padding: 0.8rem;
  position: absolute;
  top: 0;
  right: 9rem;
  z-index: 10;
  background-color: white;
}

.container {
  display: flex;
}

.container .output-text {
  width: 50vw;
  height: 100vh;
  position: absolute;
  right: 0;
}
